<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="head_cam">
    <link name="head_cam_link">
      <inertial>
        <origin xyz="-0.001317 0.032906 -0.0621" rpy="0 0 0" />
        <mass value="0.23396" />
        <inertia
          ixx="0.00047366"
          ixy="-5.9303E-07"
          ixz="1.6112E-06"
          iyy="0.00016812"
          iyz="-1.0497E-05"
          izz="0.00043559" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://lwr_description/meshes/head_cam/head_cam.stl" />
        </geometry>
        <material name="">
          <color rgba="0.49804 0.49804 0.49804 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://lwr_description/meshes/head_cam/head_cam.stl" />
        </geometry>
      </collision>
    </link>
    <joint name="ati_to_cam_joint" type="fixed">
        <origin
          xyz="0.00138820343559641 -0.113248229330811 0.053096412734154"
          rpy="-0.436332312998576 8.73838564895237E-16 3.05311331771918E-15" />
        <parent link="ati_link" />
        <child link="head_cam_link" />
        <axis xyz="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
