<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="screwdriver">
    <link name="screwdriver_link">
      <inertial>
        <origin
          xyz="0.00019306 -0.00063333 -0.10165"
          rpy="0 0 0" />
        <mass value="0.22973" />
        <inertia
          ixx="0.00044365"
          ixy="2.5405E-07"
          ixz="-1.8342E-06"
          iyy="0.00044758"
          iyz="5.3828E-06"
          izz="0.00010303" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://lwr_description/meshes/screwdriver/screwdriver.stl" />
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://lwr_description/meshes/screwdriver/screwdriver.stl" />
        </geometry>
      </collision>
    </link>
    <joint name="ati_to_screwdriver_joint" type="fixed">
      <origin
        xyz="0 0 0.16"
        rpy="-4.6259E-16 9.0159E-16 9.992E-16" />
      <parent link="ati_link" />
      <child link="screwdriver_link" />
      <axis xyz="0 0 1" />
      <limit effort="400" velocity="0" lower="0" upper="0" />
    </joint>
  </xacro:macro>
</robot>
