<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <xacro:macro name="table">
	  <link name="table_link">
	    <visual>
	      <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0" />
	      <geometry>
		        <mesh filename="package://lwr_description/meshes/table/table.dae" />
	      </geometry>
	    </visual>
	    <collision>
	      <origin xyz="0 0 0" rpy="0 0 0" />
	      <geometry>
		        <mesh filename="package://lwr_description/meshes/table/table_collision.stl" />
	      </geometry>
	    </collision>
	  </link>
	  <joint name="table_to_base_joint" type="fixed">
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <parent link="table_link" />
	    <child link="base_link" />
	  </joint>
   </xacro:macro>

</robot>
