<launch>
  <arg name="oro_prefix" default="" doc="This prefix is used for orocos component names"/>
  <arg name="tf_prefix" default="" doc="This prefix is used for TF frames"/>
  <arg name="ee_empty" default="true" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_ball" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_hand" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_bumblebee" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="debug" default="false"/>  
  
<group ns="deployer_lwr">
    <include file="$(find lwr_moveit_config)/scripts/controllers_params.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
        <arg name="oro_prefix" value="$(arg oro_prefix)"/>
        <arg name="ee_empty" value="$(arg ee_empty)" />
        <arg name="ee_ball" value="$(arg ee_ball)" />
        <arg name="ee_hand" value="$(arg ee_hand)" />
        <arg name="ee_bumblebee" value="$(arg ee_bumblebee)" />
    </include>
</group>


<include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="DEPLOYER_ARGS" value="-s $(find lwr_moveit_config)/scripts/run_hw_conman.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="CORBA" value="true"/>
    <arg name="NAME" value="deployer_lwr"/>
    <arg name="DEBUG" value="$(arg debug)"/>
</include>



<!--node name="world_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world /$(arg tf_prefix)/base_link 100" /--> 
</launch>

