<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro  name="gz_joint" params="joint_name">
		<gazebo reference="${joint_name}">
			<implicitSpringDamper>true</implicitSpringDamper>
		</gazebo>
	</xacro:macro>

	<xacro:macro name="lwr_gazebo">
		<gazebo>
			<plugin name="rtt_gazebo" filename="librtt_gazebo_deployer.so">
				<robotNamespace>~</robotNamespace>
			  <component>
			    <package>rtt_lwr_gazebo</package>
			    <type>LWRGazeboComponent</type>
			    <name>lwr_gazebo</name>
			  </component>
			    <orocosScript><filename>$(find rtt_lwr_gazebo)/scripts/lwr_gazebo.ops</filename></orocosScript>
			</plugin>
  		</gazebo>

  		<xacro:gz_joint joint_name="joint_0"/>
  		<xacro:gz_joint joint_name="joint_1"/>
  		<xacro:gz_joint joint_name="joint_2"/>
  		<xacro:gz_joint joint_name="joint_3"/>
  		<xacro:gz_joint joint_name="joint_4"/>
  		<xacro:gz_joint joint_name="joint_5"/>
  		<xacro:gz_joint joint_name="joint_6"/>

                <gazebo reference="base_link">
                    <static>true</static>
                </gazebo>
  
		<gazebo reference="link_0">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_1">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_2">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_3">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_4">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_5">
			<gravity>true</gravity>
			<material>Gazebo/Orange</material>
		</gazebo>

		<gazebo reference="link_6">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
		</gazebo>

		<gazebo reference="link_7">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
		</gazebo>

	</xacro:macro>

</robot>
