<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwr" >

  <property name="M_PI" value="3.1415926535897931" />
  <!-- lbr-->
  <xacro:include filename="$(find lwr_description)/urdf/lwr.urdf.xacro" />

  <!-- generic simulator_gazebo plugins -->
  <xacro:include filename="$(find lwr_description)/gazebo/lwr.gazebo.urdf.xacro"/>
  <xacro:include filename="$(find lwr_description)/urdf/lwr.transmission.xacro"/>
  <!-- materials for visualization -->
  <xacro:include filename="$(find lwr_description)/urdf/materials.urdf.xacro" />

  <!-- world-->
  <link name="world"/>


  <link name="base_link"/>
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0"/>
  </joint>

  <xacro:macro name="tool">
    <link name="ati_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.730" />
        <inertia
          ixx="0.0001"
          ixy="0.0"
          ixz="0.0"
          iyy="0.0001"
          iyz="0.0"
          izz="0.0001" />
      </inertial>
      <visual>
	<origin rpy="${M_PI/2.0} 0 ${20.0*M_PI/180.0}" xyz="0.0 0.0 -0.0388"/>
	<geometry>
	  <mesh filename="package://lwr_description/meshes/ati/ati.stl" scale="0.001 0.001 0.001"/>
	</geometry>
	<material name="color_j7"/>
      </visual>
      <collision>
	<origin rpy="${M_PI/2.0} 0 ${20.0*M_PI/180.0}" xyz="0.0 0.0 -0.0388"/>
	<geometry>
	  <mesh filename="package://lwr_description/meshes/ati/ati.stl" scale="0.001 0.001 0.001"/>
	</geometry>
      </collision>
    </link>
    <joint name="ati_joint" type="fixed">
       <parent link="link_7" />
       <child link="ati_link" />
       <origin xyz="0 0 0.0488" rpy="0 0 ${20.0*M_PI/180.0}" />
    </joint>
    <link name="ati_polaris_link"/>
    <joint name="ati_polaris_joint" type="fixed">
       <parent link="ati_link" />
       <child link="ati_polaris_link" />
       <origin xyz="0 0 0.0584" rpy="0 0 ${-M_PI/2}" />
    </joint>
  </xacro:macro>

  <!-- calib_tool -->
  <link name="calib_link">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
      <geometry>
	<mesh filename="package://lwr_description/meshes/calib_tool/calib_tool.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="color_j2"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
      <geometry>
	<mesh filename="package://lwr_description/meshes/calib_tool/calib_tool.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="color_j2"/>
    </collision>
  </link>

  <joint name="ati_rot_joint" type="fixed">
       <parent link="ati_link" />
       <child link="ati_rot_link" />
       <origin rpy="0 0 -${45.0*M_PI/180.0}" xyz="0 0 0"  />
  </joint>
  
  <link name="ati_rot_link"/>
  
  <joint name="balls_joint" type="fixed">
       <parent link="ati_rot_link" />
       <child link="calib_link" />
       <origin rpy="0 0 0" xyz="0.071 0 -0.0288"  />
  </joint>

  <!--lbr-->
  <xacro:lwr parent="base_link">
    <!-- Position from origin -->
    <origin xyz="0 0 0.01" rpy="0 0 ${2*M_PI/3}" />
  </xacro:lwr>

   <xacro:lwr_gazebo/>
   <xacro:lwr_transmission/>
   <xacro:tool/>

</robot>
