<?xml version="1.0"?>
<launch>
<arg name="robot_name" default="/"/>



<node pkg="rviz" type="rviz" output="screen" name="rviz" />

<group ns="$(arg robot_name)">
	<param name="tf_prefix" value="$(arg robot_name)" />
	<include file="$(find lwr_description)/launch/lwr_upload.launch"/>
        
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        </node>

	<node pkg="joint_state_publisher" type="joint_state_publisher" output="screen" name="joint_state_publisher">
		<param name="use_gui" value="true"/>	
		<param name="publish_default_velocities" value="true"/>
		<param name="publish_default_efforts" value="true"/>
		<param name="rate" value="100"/>
	</node>
</group>
</launch>
