<?xml version="1.0"?>
<launch>
<arg name="robot_ns" default="/"/>
<!-- Tools -->
<arg name="load_base" default="false" />
<arg name="load_ati_sensor" default="true" />
<arg name="load_calib_tool" default="false" />
<arg name="load_handle" default="false" />
<arg name="load_gripper" default="false" />


<node pkg="rviz" type="rviz" output="screen" name="rviz" />

<group ns="$(arg robot_ns)">
	<param name="tf_prefix" value="$(arg robot_ns)" />
        
        <node pkg="tf" type="static_transform_publisher" name="world_ns_connector" args="0 0 0 0 0 0 /world $(arg robot_ns)/world 100"/>
        
	<include file="$(find lwr_description)/launch/lwr_upload.launch">
		<arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>
        
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<node pkg="joint_state_publisher" type="joint_state_publisher" output="screen" name="joint_state_publisher">
		<param name="use_gui" value="true"/>	
		<param name="publish_default_velocities" value="true"/>
		<param name="publish_default_efforts" value="true"/>
		<param name="rate" value="100"/>
	</node>
</group>
</launch>
