<?xml version="1.0"?>
<launch>

    <arg name="load_base" default="false" />
    <arg name="load_ati_sensor" default="false" />
    <arg name="load_calib_tool" default="false" />
    <arg name="load_handle" default="false" />
    <arg name="load_laser" default="false" />
    <arg name="load_weight" default="false" />
    <arg name="load_head_cam" default="false" />
    <arg name="load_screwdriver" default="false" />
    <arg name="load_table" default="false" />
    <arg name="load_gazebo_ros_control" default="false" />
    <arg name="robot_name" default="lwr" />

    <param name="robot_description" command="
        $(find xacro)/xacro '$(find lwr_description)/robots/kuka_lwr.urdf.xacro'
        robot_name:=$(arg robot_name)
        load_base:=$(arg load_base)
        load_ati_sensor:=$(arg load_ati_sensor)
        load_calib_tool:=$(arg load_calib_tool)
        load_handle:=$(arg load_handle)
        load_laser:=$(arg load_laser)
        load_weight:=$(arg load_weight)
        load_head_cam:=$(arg load_head_cam)
        load_screwdriver:=$(arg load_screwdriver)
        load_table:=$(arg load_table)
        load_gazebo_ros_control:=$(arg load_gazebo_ros_control) --inorder"/>

</launch>
