<launch>
  <arg name="hand" default="true" doc="(bool) Launch the robot with a hand"/>
  <arg name="oro_prefix" default="" doc="This prefix is used for orocos component names"/>
  <arg name="tf_prefix" default="wam" doc="This prefix is used for TF frames"/>

  <!-- Barrett parameters -->
  <rosparam ns="$(arg oro_prefix)barrett_manager" subst_value="true">
    # Auto-configuration
    auto_configure_wam: true
    auto_configure_hand: $(arg hand)
    wam_dof: 7
    wam_urdf_prefix: $(arg tf_prefix)
    hand_urdf_prefix: $(arg tf_prefix)/hand

    # WAM Parameters
    wam:
      velocity_smoothing_factor: 0.95
      home_position: [0.0, -1.5708, 0.0, 3.1415, 0.0, -1.5708, 1.5708]
  </rosparam>

  <rosparam ns="$(arg oro_prefix)effort_sum" subst_value="true">
    dim: 7
    require_heartbeat: false
  </rosparam>

  <!-- Aggregate wam and hand joint states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(anon joint_state_publisher)">
    <rosparam param="source_list" subst_value="true">
      ["$(arg oro_prefix)barrett_manager/wam/joint_states", "$(arg oro_prefix)barrett_manager/hand/joint_states"]
    </rosparam>
    <param name="rate" value="50"/>
    <remap from="robot_description" to="/robot_description"/>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(anon robot_state_publisher)">
    <param name="publish_frequency" value="50"/>
  </node>

</launch>
