<launch>
  <arg name="oro_prefix" default="" doc="This prefix is used for orocos component names"/>
  <arg name="tf_prefix" default="wam" doc="This prefix is used for TF frames"/>

  <arg name="ee_empty" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_ball" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_hand" default="false" doc="(bool) True if there is no end-effector"/>
  <arg name="ee_bumblebee" default="false" doc="(bool) True if there is no end-effector"/>

  <group ns="gazebo">
    <node name="$(arg oro_prefix)singularity_rescuer"
      pkg="lcsr_controllers" type="singularity_rescuer.py"
      output="screen">
      <rosparam subst_value="true">
        root_link: $(arg tf_prefix)/base_link
        target_frame: $(arg tf_prefix)/cmd
        linear_err_threshold: 0.5
        angular_err_threshold: 1.4
        cart_blocks: ['$(arg oro_prefix)cart_servo','$(arg oro_prefix)jtns']
        joint_blocks: ['$(arg oro_prefix)traj_rml','$(arg oro_prefix)pid']
      </rosparam>

      <rosparam if="$(arg ee_empty)" subst_value="true">
        tip_link: $(arg tf_prefix)/wrist_palm_link
      </rosparam>
      <rosparam if="$(arg ee_hand)" subst_value="true">
        tip_link: $(arg tf_prefix)/hand/bhand_grasp_link
      </rosparam>
      <rosparam if="$(arg ee_ball)" subst_value="true">
        tip_link: $(arg tf_prefix)/ball/bball_center_link
      </rosparam>

      <remap from="joint_state" to="barrett_manager/wam/joint_states"/>
      <remap from="move_group" to="move_group"/>
      <remap from="follow_trajectory_action" to="traj_rml/action"/>
      <remap from="get_blocks_action" to="scheme/get_blocks_action"/>
      <remap from="set_blocks_action" to="scheme/set_blocks_action"/>
    </node>
  </group>

</launch>
