<library path="src">
  <class name="LWRPlugin" type="rqt_lwr.lwr_widget.LWRPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      This class is used to communicate with rtt_krl_tool
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
      </group>
      <label>LWR</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to change LWR control modes</statustip>
    </qtgui>
  </class>
</library>
