<launch>
<arg name="debug" default="false"/>
<arg name="rviz" default="false"/>
<arg name="gui" default="false"/>
<arg name="TAO" default="false"/>
<arg name="robot_name" default="lwr"/>
<arg name="robot_ns" default="/" />
<arg name="sim" default="false"/>

<param if="$(arg sim)" name="use_sim_time" value="true" />

<!--include if="$(arg sim)" file="$(find rtt_lwr_gazebo)/launch/lwr_gazebo.launch">
	<arg name="robot_ns" value="$(arg robot_ns)"/>
  <arg name="robot_name" value="$(arg robot_name)"/>
</include-->

<group ns="$(arg robot_ns)">
    <param name="tf_prefix" value="$(arg robot_ns)" />
    <param name="robot_name" value="$(arg robot_name)" />

    <include file="$(find lwr_description)/launch/lwr_upload.launch"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
</group>

</launch>
