<launch>
    <arg name="sim" default="false" />
    <arg name="ops_script" />
    <arg name="ops_args" default=""/>
    <arg name="robot_ns" default="/"/>
    <arg name="debug" default="false" />
    <arg name="rviz" default="false" />
    <arg name="respawn" default="false" />
    <arg name="gazebo_gui" default="true"/>
    <arg name="launch_gazebo" default="true"/>
    <arg name="start_paused" default="false"/>
    <!-- Tools -->
    <arg name="load_base" default="false" />
    <arg name="load_ati_sensor" default="false" />
    <arg name="load_calib_tool" default="false" />
    <arg name="load_handle" default="false" />
    <arg name="load_gripper" default="false" />

    <!-- The end effector Frame -->
    <arg name="tip_link" default="link_7"/>
    <arg name="root_link" default="link_0"/>
    
    <!-- Orocos log level (never, fatal, critical, error, warning, info, debug, realtime) -->
    <arg name="log_level" default="warning"/>
    
    <include file="$(find lwr_launch)/launch/lwr.launch">
        <arg name="robot_ns" value="$(arg robot_ns)"/>
        <arg name="sim" value="$(arg sim)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
        <arg name="root_link" value="$(arg root_link)"/>
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="launch_gazebo" value="false" unless="$(arg sim)"/>
        <arg name="launch_gazebo" value="$(arg launch_gazebo)" if="$(arg sim)"/>
        <arg name="start_paused" value="$(arg start_paused)"/>
    </include>

    <group ns="$(arg robot_ns)">       
            <include file="$(find lwr_launch)/launch/deployer.launch">
                <arg name="CORBA" value="true" if="$(arg sim)"/>
                <arg name="DEPLOYER_ARGS" value="-s $(arg ops_script)"/>
                <arg name="NAME" value="depl_sim" if="$(arg sim)"/>
                <arg name="NAME" value="depl_hw" unless="$(arg sim)"/>
                <arg name="LOG_LEVEL" value="$(arg log_level)"/>
                <arg name="DEBUG" value="$(arg debug)"/>
                <arg name="RESPAWN" value="$(arg respawn)"/>
                <arg name="EXTRA_DEPLOYER_ARGS" value="$(arg ops_args)"/>
            </include>
    </group>
</launch>
