<launch>

  <include file="$(find spacenav_node)/launch/classic.launch"/>

  <node name="tfi" pkg="lcsr_tf_tools" type="twist_frame_integrator.py">

    <remap from="twist" to="/spacenav/twist"/>
    <rosparam>
      linear_multiplier: 0.00001
      angular_multiplier: 0.0001
      broadcast_rate: 50
      body_fixed: false
      frame_id: world
      child_frame_id: wam/cmd
    </rosparam>


  </node>

</launch>
